body{
    margin:0px;
    padding: 0px;
    font-family:'Raleway', sans-serif;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color:dimgray;
}
.mywebsitelogo img{
    height: 45px;
}
.navigation-menu{
    display:flex;
    align-content: center;
    justify-content: center;
}
.navigation-menu a{
    height:50px;
    font-size: 20px;
    font-weight: bold;
    color:lightslategray;
    letter-spacing: 2px;
    display:inline-block;
}
.movingunderline::after{
    content:'';
    display:block;
    width:0;
    height:4px;
    background-color: palevioletred;
    transition: 0.5s;
}
.movingunderline:hover::after{
    width: 100%;
}
.navigation-menu li{
    margin-top: 30px;
    padding:0px 30px;
}
.myphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
 /* background-color: hotpink; */
    height: 60vh;
}
.myphoto img{
    width: 80%;
    height:80%;
}
/* .homecontent{ 
    width:90%;
    display: flex;
}
.hometext{
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: space-around;
    width: 500px;
    width:90%;
}
.hometext h1{
    padding-bottom: 0px;
    padding-left: 30px;
}
.hometext p{
    /* padding-left: 20px; */


.homecontent{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 95px;
}
.hometext{
    
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hometext p{
    padding-top: 30px;

}

.about{
    display:flex;
}
.abs-heading{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 480px) and (max-width:800px){

}